---
layout: "base.liquid"
title: Welcome to my portfolio - Melissa Gattoni - Frontend developer
eleventyNavigation:
  key: Home
  order: 4
---

<p>
  I’m a front-end developer and accessibility specialist. I focus on creating accessible websites that work for everyone, regardless of their abilities. This is my online portfolio where I showcase my latest projects and occasionally write and sketch.
</p>